// kemajuan

%node {
    position: relative;
    border: 1px solid $dark-grey;
    padding: 1.3em;
}

.select-container {
    position: relative;

    img {
        position: absolute;
        left: 10px;
        bottom: 0;
        top: 0;
        margin: auto;
    }
    select {
        &.with-icon {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding-left: 40px;
        }
    }
}

.btn-sw {
    button, a {
        min-width: 100px;
    }
}

.senarai-kpi {
    .senarai-items {
        padding: 15px;
        border-bottom: 1px solid $dark-grey;

        &:first-of-type {
            border-top: 1px solid $dark-grey;
        }
    }

    .flag-number {
        position: relative;

        img {
            height: 50px;
        }

        span {
            position: absolute;
            top: 8px;
            left: 5px;
            font-size: 0.7rem;
            color: $white;

        }
    }

    .status-container {
        .status {
            text-transform: uppercase;
        }

        .btn-sw {
            margin-top: 3px;

            button {
                background-color: $btn-grey;
                color: $white;
            }
        }
    }
}

.flag-container {
    text-align: center;

    img {
        display: block;
        margin-bottom: 10px;
        margin: auto;
        max-width: 25px;
    }
}

.fokus-header {
    background-color: $blue;
    color: $white;
    width: 100%;
    padding: 1.5em 15px;
    position: relative;

    .edit-icon {
        top: 0;
        right: 0;
        border: 1px solid $white;

        &:hover {
            background-color: $white;
        }
    }
}

.objektif-header {
    background-color: $grey;
    width: 100%;
    padding: 1.5em 15px;
    position: relative;
}

.parent-node {
    // margin-left: 4em;
    background-color: $grey;
    @extend %node;
    position: relative;

    &:before {
        content: '';
        left: -15px;
        top: 0;
        height: 100%;
        border-left: 1px solid #000;
        position: absolute;
    }

    &:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid #000;
        width: 14px;
        left: -15px;
        top: 50%;
    }

    &:last-child{
        &:before {
            height: 10px;
        }
    }
}

.child-node {
    // margin-left: 5.5em;
    @extend %node;
    position: relative;

    &:before {
        content: '';
        left: -15px;
        top: 0;
        height: 100%;
        border-left: 1px solid #000;
        position: absolute;
    }

    &:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid #000;
        width: 14px;
        left: -15px;
        top: 50%;
    }
    
    &:last-child{
        &:before {
            height: 10px;
        }
    }
}

.kemajuan {
    width: 6em;
    font-size: 1.3em;
    padding: 13px;
    color: $white;
    text-align: center;

    &.orange {
        background-color: $orange;
    }
    
    &.red {
        background-color: $pink;
    }
    
    &.green {
        background-color: $green;
    }
    
    &.blue {
        background-color: $light-blue;
    }
    
    &.grey {
        background-color: $grey;
    }
}

.edit-icon {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 25px;
    height: 25px;
    border: 1px solid $light-blue;
    border-bottom-left-radius: 3px;
    padding: 0 0 5px 5px;
    cursor: pointer;

    img {
        width: 15px;
        margin: auto;
    }

    &:hover {
        background-color: $light-blue;
    }
}

.switch-box {
    display: flex;
    min-width: 262px;
    border: 1px solid $dark-grey;

    .row {
        flex: 1;
    }

    .switch {
        margin-top: 0.5rem;
    }

    .switch > input{
        display: none;
    }

    .switch > div {
        width: 60px;
        height: 25px;
        z-index: 0;
        cursor: pointer;
        position: relative;
        border-radius: 50px;
        line-height: 40px;
        text-align: right;
        padding: 0 10px;
        color: rgba(0,0,0,.5);
        transition: all 250ms;
        border: 1px solid $dark-grey;
    }

    .switch > input:checked + div {
        text-align: left;
    }

    .switch > div:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 2px;
        top: 2px;
        height: 20px;
        width: 20px;
        background: $red;
        border-radius: 50%;
        transition: all 200ms;
    }

    .switch > input:checked + div:after {
        left: 52px;
    }

    .switch > input:checked + div:before {
        content: '';
        position: absolute;
        left: 37px;
        background: #46D444;
        border-radius: 50%;
    }

    .switch-text {
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
    }
}

// cards 

%uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

%square-box {
	width: 80px;
	height: 80px;
	border-radius: 7px;
	margin: auto;
	padding: 10px;
	color: $white;
}

%cards-border {
    border-radius: 5px;
}

.cards {
	@extend %cards-border;
	background-color: $white;
	padding: 25px;
	margin-bottom: 15px;
	box-shadow: 0px 2px 7px 0px #ddd;
	
	.card-title {
		font-size: 1.2em;
		@extend %uppercase;
	}
}

.traffic {
    .traffic-title {
        .num {
            font-size: 2.5em;
        }
        
        .desc {
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $dark-grey;
        }
    }
    
    .traffic-light {
        text-align: center;
        margin-bottom: 10px;

        .num {
            font-size: 2.5em;
        }
        
        .desc {
            font-size: 1em;
        }
        
        .green {
            @extend %square-box;
            border-radius: 1px;
            background-color: $green;
        }
        
        .orange {
            @extend %square-box;
            border-radius: 1px;
            background-color: $orange;
        }
        
        .red {
            @extend %square-box;
            border-radius: 1px;
            background-color: $pink;
        }
        
        .blue {
            @extend %square-box;
            border-radius: 1px;
            background-color: $light-blue;
        }
        
        .grey {
            @extend %square-box;
            border-radius: 1px;
            background-color: $dark-grey;
        }
    }
}

.edit-box {
    margin-bottom: 15px;
    @extend %cards-border;

    .new-btn {
        border: 1px solid $dark-grey;
        text-align: left;
        padding: 10px;
        margin-right: -15px;
        background-color: $white;
        display: flex;
        flex-wrap: wrap;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        min-height: 68.19px;
        cursor: pointer;

        img {
            width: 1.4em;
        }

        &.active {
            background-color: $blue;
            color: $white;
        }
    }

    .edit-wrapper {
        @extend %cards-border;
        border-top-left-radius: 0;
        background-color: $white;

        .edit-form {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid $dark-grey;
            margin: 0;
        }
    }

    .edit-comment {
        @extend %cards-border;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $white;
        box-shadow: -3px 0px 10px -3px $dark-grey;
        border-bottom: 1px solid $dark-grey;
    }
}

.input-group-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    
    .input-group-item {
        margin-right: 10px;

        &.item-1 {
            flex: 1;
        }
        
        &.item-2 {
            flex: 2;
        }
    
        &:last-child {
            margin-right: 0;
        }
    }
}

.modal {
    .modal-a4 {
        max-width: 1000px !important;
    }
}

.laporan {
    .logo {
        max-width: 100px;
    }
    
    .nama {
        font-size: 1.2em;
    }

    %table-area {
        padding: 15px;
        border: 1px solid #ddd;
        border-bottom: none;
    }

    .fokus {
        @extend %table-area;
    }

    .objektif {
        @extend %table-area;

    }

    .kpi-title {
        @extend %table-area;
    }

    .kpi-description {
        @extend %table-area;
        border-left: none;
    }

    .table-laporan {

        thead > tr {
            background-color: $blue;
            color: $white;
        }

        tr:last-child {
            border-bottom: 1px solid #dee2e6;
        }

        td {
            border-top: none;
            border-right: 1px solid #dee2e6;
            border-left: 1px solid #dee2e6;
        }

    }
}

.circle-list {
    ul {
        padding: 0;

        li {
            display: inline-block;
        }
    }

    a {
        display: block;
    }

    .company-container {
        margin-right: 2em;
        text-align: center;
    }

    .company-list {
        max-width: 100px;
        min-width: 100px;
        height: 100px;
        border: 1px solid $dark-grey;
        border-radius: 50%;
        text-align: center;
        position: relative;
        transition: 3ms;
        
        img, span {
            display: inline-block;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            margin:auto;
            width: auto;
            max-height: 60px;
        }

        &:hover {
            box-shadow: 0px 2px 7px 0px #ddd;
        }
    }
}

.list-chart {
    .btn-chart {
        .nav-item {
            text-align: center;
            margin-right: 0.5rem;
        }

        .nav-link {
            border: 1px solid $dark-grey;
        }
    }
}

.green-tick {
    text-align: center;

    span {
        background-color: $green;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: inline-block;
        padding-top: 18px;
    }
}

.custom-group {
    div {
        display: flex;

        input {
            margin: 0 2px;
        }
    }
}

.treeview {
    .border {
        border: 1px solid #A9B6C2 !important;
    }

    ul, li {
        list-style: none;
        display: block;
        margin: 0;
    }

    .tree {
        li {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -20px;
                border-left: 1px solid $dark-grey;
                height: 100%;
            }

            .tree-v {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -20px;
                    border-top: 1px solid $dark-grey;
                    width: 20px;    
                }
            }

            &:last-child {
                &:before {
                    content: unset;
                }

                .tree-v {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -20px;
                        border-left: 1px solid $dark-grey;
                        height: 50%;
                    }
                }
            }
        }
    }

    .lampiran {
        ul {
            list-style-type: circle;
        }
        li {
            display: list-item;

            &:before{
                content: unset;
            }
        }
    }
}