.dashboard {
    

    .tab {
        .tab-group {
            -ms-flex-direction: row;
            flex-direction: row;
            border-bottom: 1px solid $dark-grey;

            .list-group-item {
                border: none;
                background-color: unset;
                padding-left: 0;
                max-width: 200px;
                text-transform: uppercase;
                letter-spacing: 1px;

                &.active {
                    color: unset;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 60px;
                        height: 4px;
                        left: 0;
                        bottom: -2px;
                        background-color: $pink;
                        border-radius: 3px;
                    }
                }
            }

            .btn {
                margin-left: auto;
                box-shadow: 0px 2px 7px 0px #ddd;
            }
        }

        .tab-content {
            padding: 20px 0;

            .list-container {
                max-height: 300px;
                overflow-y: auto;
            }

            .list {
                li {
                    display: block;
                    position: relative;
                    padding: 10px 0;
                    border-bottom: 1px solid $dark-grey;

                    .date {
                        float: right;
                    }

                    %dot {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        bottom: 16px;
                        left: -30px;
                    }

                    .blue {
                        &:before {
                            @extend %dot;
                            background-color: $light-blue;
                        }
                    }
                    
                    .red {
                        &:before {
                            @extend %dot;
                            background-color: $pink;
                        } 
                    }
                }
            }

            .table-container {
                max-height: 300px;
                overflow-y: auto;
                
                .table {
                    thead > tr > td{
                        border: none;
                    }
                }
            }

        }
    }

    .bar-canvas {
        max-height: 300px;
    }

}