.login-page {
    background-image: url('/img/BG.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
    .login-wrapper {
        background-color: rgba(255, 255, 255, 0.8);
    
        &:first-of-type{
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px
        }
    
        &:last-of-type{
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            box-shadow: -10px 0px 38px 0px rgba(13, 13, 13, 0.2);
            min-height: 459px;
        }
        
        .login-instruction {
            font-size: 18px;
            width: 70%;
            margin: auto;
            margin-bottom: 10px;
        }

        .login-input {
            width: 70%;
            margin: auto;
            position: relative;
            border: 1px solid #CDCDCD;
            border-width: 0 0 1px 0;

            img {
                position: absolute;
                bottom: 7px;
                left: 5px;
            }
            
            input {
                display: block;
                border: none;    
                background-color: unset;
                width: 100%;
                line-height: 35px;
                text-align: center;
            }
        }

        .login-btn {
            a {
                padding: 7px 20px;
                border-radius: 20px;
            }
        }

        .login-ict {
            width: 70%;
            margin: auto;
            text-align: left;

            img {
                width: auto;
                height: 90px;
            }
        }

        .login-logo {
            img {
                width: auto;
                max-height: 171px;
            }
        }

        .login-description {
            text-align: center;

            .title {
                font-size: 20px;
                line-height: 20px;
            }

            .description {
                width: 80%;
                margin: auto;
            }
        }

        small {
            display: block;
        }

    }
}

