.navigation {
    %bg-img {
        background-image: url('/img/header.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .navbar {
        padding: 0;
        @extend %bg-img;
        background-position-y: 23%;
        z-index: 999;
        
        .nav-wrapper {
            // width: 100%;
            background-color: rgba(48, 57, 137, 0.8);
            padding: 0.5rem 1rem;
        }

        span {
            font-size: 1.5rem;
            font-weight: 700;
            color: $white;
        }
    }
    
    .navbar-brand {
        img {
            width: auto;
            max-height: 100px; 
        }
    }

    .subnav {
        @extend %bg-img;
        background-position-y: 37%;
        margin-top: 40px;
        z-index: 99;
        position: relative;

        .no-bg {
            background-color: unset !important;
        }

        .row {
            &.pegawai-kpi {   
                background-color: rgba(226, 47, 56, 0.8);
            }
            &.pengesah {   
                background-color: rgba(75, 37, 99, 0.8);
            }
            &.pelulus {   
                background-color: rgba(75, 37, 99, 0.8);
            }
            &.penyelaras {   
                background-color: rgba(0, 166, 217, 0.8);
            }
            &.ketua-jabatan {   
                background-color: rgba(255, 151, 45, 0.8);
            }
            &.ukk {   
                background-color: rgba(139, 87, 42, 0.8);
            }
        }

        img {
            width: auto;
            height: 40px;
            margin-right: 20px;
        }

        span {
            color: $white
        }

        .avatar {
            border-radius: 50%;
            margin: 0;
        }

        .name-info {
            color: $white;
            font-size: 11px;
        }
    }
}

.sidenav {
    background-color: $blue;
    color: $white;
    max-width: 120px;

    .row {
        padding-top: 130px;
    }

    .col-12 {
        text-align: center;
        padding: 25px;
        cursor: pointer;

        a {
            color: $white;
        }
        
        .text {
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        img {
            width: 30px;
        }

        &.selected {
            background-color: $grey;
            color: $blue;

            a {
                color: $blue;
            }
        }
    }
}