
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #303989;
$light-blue: #00A6D9;
$grey: #F2F2F2;
$dark-grey: #A9B6C2;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #CE367E;
$red: #e3342f;
$orange: #F8BA45;
$yellow: #ffed4a;
$green: #269C94;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// component-color
$btn-grey: #C4C4C4;


