
// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet');

// Variables
@import 'variables';

// Bootstrap 4
@import "/bootstrap/functions";
@import "/bootstrap/variables";
@import "/bootstrap/mixins";
@import "/bootstrap/root";
@import "/bootstrap/reboot";
@import "/bootstrap/type";
@import "/bootstrap/images";
@import "/bootstrap/code";
@import "/bootstrap/grid";
@import "/bootstrap/tables";
@import "/bootstrap/forms";
@import "/bootstrap/buttons";
@import "/bootstrap/transitions";
@import "/bootstrap/dropdown";
@import "/bootstrap/button-group";
@import "/bootstrap/input-group";
@import "/bootstrap/custom-forms";
@import "/bootstrap/nav";
@import "/bootstrap/navbar";
@import "/bootstrap/card";
@import "/bootstrap/breadcrumb";
@import "/bootstrap/pagination";
@import "/bootstrap/badge";
@import "/bootstrap/jumbotron";
@import "/bootstrap/alert";
@import "/bootstrap/progress";
@import "/bootstrap/media";
@import "/bootstrap/list-group";
@import "/bootstrap/close";
@import "/bootstrap/modal";
@import "/bootstrap/tooltip";
@import "/bootstrap/popover";
@import "/bootstrap/carousel";
@import "/bootstrap/utilities";
@import "/bootstrap/print";

// Individual Modules
@import 'nav';
@import 'components';
@import 'login';
@import 'dashboard';
@import 'pemantauan';
@import 'penyelarasan';

body {
	margin: 0 !important;
}

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-round {
	padding: 7px 20px;
	border-radius: 20px;
}

.btn-icon {
	width: 16px;
	margin-right: 10px;
}

.full-height {
	height: 100vh;
}

.content {
	background-color: $grey;
}

.heading {
	margin: 1.3rem 0px;
	font-size: 1.5em;
	padding-left: 15px;
	@extend %uppercase;
}

.sub-heading {
	font-size: 1.3em;
	margin-bottom: 2em;
}

.btn-toggle-same-width {
	.btn {
		min-width: 136px;
	}
}

.btn-secondary {
	background-color: $white;
	color: $blue;

	&.active {
		background-color: $blue !important;
		color: $white !important;
	}
}

/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}


/*
* Global add-ons
*/

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
	border: 0;
}

/*
* Sidebar
*/

/* Hide for mobile, show later */
.sidenav {
	display: none;
}
@media (min-width: 768px) {
	.sidenav {
		position: fixed;
		top: 92px;
		bottom: 0;
		left: 0;
		z-index: 10;
		display: block;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}


/*
* Main content
*/
.content {
	padding: 20px;
	z-index: 1;
}

@media (min-width: 768px) {
	.content {
		padding-right: 30px;
    	padding-left: 150px;
	}
}
.content .page-header {
	margin-top: 0;
}


/*
* Placeholder dashboard ideas
*/

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}




